.chanel {
	position: relative;

	padding-top: 75px;
	padding-bottom: 75px;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background: rgba(255, 255, 255, 0.5);
		filter: blur(10px);
	}
	@media (max-width: $md2+px) {
		padding-top: 38px;
		padding-bottom: 38px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		max-width: 1045px;
		margin-bottom: 33px;
		@media (max-width: $md3+px) {
			margin-bottom: 25px;
		}
	}

	&__text {
		color: #000000;

		font-size: $fz-text;
		line-height: $lh-text;
		text-align: center;

		&--margin {
			max-width: 658px;
			margin-bottom: 136px;
			@media (max-width: $md3+px) {
				margin-bottom: 58px;
			}
		}
		&--strong {
			display: block;
			margin-bottom: 10px;

			font-weight: 700;
			@include maxwidth(1250) {
				margin-bottom: 30px;
			}
			@media (max-width: $md3+px) {
				margin-bottom: 20px;
			}
		}
		@media (max-width: $md3+px) {
			font-size: 15px;
			line-height: 20px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;

		max-width: 1200px;
		margin: 0 auto;
		width: 100%;

		margin-bottom: 121px;
		@include maxwidth(1250) {
			margin-bottom: 30px;
		}
		@media (max-width: $md3+px) {
			margin-bottom: 22px;
		}
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 30px;
			@media (max-width: $md3+px) {
				margin-bottom: 22px;
			}
		}
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 0;

			width: 100px;
			height: 100px;

			transform: translate(30%, -50%);
			@include maxwidth(1250) {
				width: 100px;
				height: 100px;

				transform: translate(63%, -50%);
			}

			@media (max-width: $md3+px) {
				width: 60px;
				height: 60px;
			}
			@media (max-width: $md4+px) {
				width: 50px;
				height: 50px;
				transform: translate(25%, -50%);
			}
		}
		&::after {
			content: "";
			position: absolute;
			bottom: 0;

			z-index: -1;

			width: 78px;
			height: 46px;

			background: url(../img/chanel-icon-arrow.svg) center/contain no-repeat;
		}
		&:nth-child(odd) {
			&::after {
				right: 0;
				transform: translate(96%, 87%) rotate(230deg);
			}
		}
		&:nth-child(even) {
			margin-right: 52px;
			&::after {
				left: 0;
				transform: translate(-96%, 91%);
			}
			.chanel__item-text {
				width: 460px;
			}
			@include maxwidth(1250) {
				margin-right: 0;
				.chanel__item-text {
					width: 100%;
				}
			}
		}
		&:last-child {
			&::after {
				display: none;
				@include maxwidth(1250) {
					display: block;
				}
			}
		}
		&--pointer {
			align-self: flex-start;
			margin-left: 40px;
			@media (max-width: $md1+px) {
				margin-left: 66px;
			}
			&::before {
				background: url(../img/chanel-icon-pointer.png) center/contain no-repeat;
			}
			@include maxwidth(1250) {
				margin-right: 0;
			}
		}
		&--inst {
			align-self: flex-end;
			&::before {
				background: url(../img/chanel-icon-inst.png) center/contain no-repeat;
			}
			@include maxwidth(1250) {
				margin-right: 0;
			}
		}
		&--tg {
			align-self: flex-start;
			margin-left: 111px;
			&::before {
				background: url(../img/chanel-icon-tg.png) center/contain no-repeat;
			}
			.chanel__item-text {
				width: 500px;
			}

			@include maxwidth(1250) {
				.chanel__item-text {
					width: 100%;
				}
			}
		}
		&--note {
			align-self: flex-end;
			&::before {
				background: url(../img/chanel-icon-note.png) center/contain no-repeat;
			}
		}
		@include maxwidth(1250) {
			width: 100%;
			margin-right: 0;
			margin-left: 0;
			&::after {
				left: 50% !important;

				width: 1px;
				height: 31px;

				border: 1px solid #0047ff;
				background: none;

				transform: translate(-50%, 100%) rotate(0) !important;
				@media (max-width: $md3+px) {
					height: 22px;
				}
			}
		}
	}
	&__item-text {
		position: relative;
		display: inline-block;
		padding: 50px 70px 50px 135px;
		max-width: 613px;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			width: 100%;
			height: 100%;

			background-color: rgba(255, 255, 255, 0.8);
			filter: blur(4px);
			border-radius: 15px;
		}

		font-size: $fz-text;
		line-height: $lh-text;
		text-align: left;

		@media (max-width: $md1+px) {
			font-size: 25px;
			line-height: 30px;
		}
		@include maxwidth(1250) {
			display: block;
			max-width: none;
		}
		@media (max-width: $md3+px) {
			padding: 30px 30px 30px 120px;

			font-size: 15px;
			line-height: 20px;
		}
		@media (max-width: $md4+px) {
			padding: 25px 25px 25px 80px;
		}
	}
	&__info {
		@include maxwidth(1250) {
			position: relative;

			padding: 25px;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;

				width: 100%;
				height: 100%;

				border: 1px solid #0047ff;
				border-radius: 10px;
				filter: drop-shadow(0px 0px 4px rgba(0, 26, 255, 0.2));
			}
			@media (max-width: $md4+px) {
				padding: 25px 5px;
			}
		}
	}
}
