.customer {
	position: relative;

	padding-top: 134px;
	padding-bottom: 185px;
	@media (max-width: $md2+px) {
		padding-top: 81px;
		padding-bottom: 99px;
	}
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: rgba(255, 255, 255, 0.5);
		filter: blur(10px);
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__heading {
		margin-bottom: 330px;
		@include maxwidth(1250) {
			margin-bottom: 150px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}
}

.customer-item {
	position: relative;

	flex: 0 0 calc(25% - 37.5px);

	margin-right: 50px;
	&:nth-child(4n - 4) {
		margin-right: 0;
	}
	@media (max-width: 1250px) {
		flex: 0 0 calc(50% - 25px);
		&:nth-child(2n - 2) {
			margin-right: 0;
		}
		&:not(:nth-last-child(-n + 2)) {
			margin-bottom: 150px;
		}
	}
	@media (max-width: 600px) {
		flex: 0 0 100%;
		margin-right: 0;
		&:not(:last-child) {
			margin-bottom: 110px;
		}
	}
	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;

		width: 104%;
		height: 106%;

		border-radius: 10px;
		background-color: #f5f5f5;
		transform: translate(-50%, -50%);
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;

		width: 100%;
		height: 100%;
		transform: translate(-50%, -60%) scale(1.5);
	}
	&--notebook {
		&::after {
			left: 50%;

			background: url(../img/costomer-notebook.png) center/contain no-repeat;
			@include maxwidth(1400) {
				transform: translate(-50%, -60%) scale(1);
			}
			@include maxwidth(600) {
				transform: translate(-50%, -40%) scale(1);
			}
		}
	}
	&--phone {
		&::after {
			left: 50%;

			background: url(../img/costomer-phone.png) center/contain no-repeat;
			@include maxwidth(1400) {
				transform: translate(-50%, -60%) scale(1);
			}
			@include maxwidth(600) {
				transform: translate(-50%, -40%) scale(1);
			}
		}
	}
	&--target {
		&::after {
			left: 50%;

			background: url(../img/costomer-target.png) center/contain no-repeat;
			transform: translate(-45%, -70%) scale(1.3);
			@include maxwidth(1400) {
				transform: translate(-45%, -60%) scale(0.95);
			}
			@include maxwidth(600) {
				transform: translate(-45%, -40%) scale(0.9);
			}
		}
	}
	&--school {
		&::after {
			left: 50%;

			background: url(../img/costomer-school.png) center/contain no-repeat;
			transform: translate(-47%, -80%) scale(1.3);
			@include maxwidth(1400) {
				transform: translate(-47%, -70%) scale(0.95);

				@include maxwidth(600) {
					transform: translate(-50%, -50%) scale(0.9);
				}
			}
		}
	}

	&__mark {
		position: absolute;
		left: 50%;
		bottom: 0;
		z-index: 1;

		width: 33px;
		height: 33px;

		background: url(../img/customer-mark.svg) center/cover no-repeat;
		transform: translate(-50%, 80%);
	}

	&__body {
		position: relative;
		z-index: 1;
		overflow: hidden;

		margin: 0 auto;
		border-radius: 10px;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 50%;
			z-index: -1;

			width: 55%;
			height: 70%;

			border-radius: 50%;
			box-shadow: 0px 0px 0px 9999px #fff;
			transform: translate(-50%, -60%);
		}
	}

	&__text {
		padding-top: 110px;
		padding-bottom: 60px;

		font-weight: 600;
		font-size: 30px;
		line-height: 41px;
		text-align: center;

		@include maxwidth(1200) {
			font-size: 25px;
			line-height: 35px;
		}
		@media (max-width: $md3+px) {
			font-size: 20px;
			line-height: 27px;
		}
	}
}
