.functions {
	padding-top: 75px;
	padding-bottom: 75px;
	@media (max-width: $md2+px) {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__heading {
		max-width: 417px;
		margin-bottom: 70px;

		@media (max-width: $md3+px) {
			margin-bottom: 26px;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 60px;
			@media (max-width: $md3+px) {
				margin-bottom: 50px;
			}
		}
	}
}

.function {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	@media (max-width: $md3+px) {
		flex-direction: column;
	}
	&__info {
		flex: 0 0 50%;

		margin-right: 60px;
		@include maxwidth(1250) {
			margin-right: 30px;
		}
		@media (max-width: $md3+px) {
			flex: 0 0 100%;
			margin-right: 0;
		}
		@media (max-width: $md3+px) {
			display: flex;
			flex-direction: column;
			align-items: center;

			width: 100%;
		}
	}

	&__heading {
		display: inline-block;

		padding: 10px 25px;
		margin-left: 43px;

		background-color: #0047ff;
		box-shadow: 0px 0px 10px rgba(0, 71, 255, 0.4);
		border-radius: 10px 10px 0px 0px;
		color: #ffffff;

		font-family: $ff2;
		font-weight: 600;
		font-size: $fz-text;
		line-height: $lh-text;

		@media (max-width: $md2+px) {
			font-size: 16px;
			line-height: 22px;
		}
		@media (max-width: $md3+px) {
			margin-left: 0;

			font-size: 15px;
			line-height: 18px;
		}
	}

	&__descr {
		padding: 48px 30px;
		background-color: #ffffff;
		border-radius: 10px;
		@media (max-width: $md3+px) {
			padding: 30px 12px;
		}
	}

	&__text {
		color: #000000;

		font-size: $fz-text;
		line-height: $lh-text;

		&:not(:last-of-type) {
			margin-bottom: 45px;
			@media (max-width: $md3+px) {
				margin-bottom: 30px;
			}
		}
		@media (max-width: $md2+px) {
			font-size: 16px;
			line-height: 22px;
		}
		@media (max-width: $md3+px) {
			font-size: 15px;
			line-height: 20px;
		}
		@media (max-width: 560px) {
			text-align: center;
		}
	}

	&__image {
		flex: 0 1 50%;
		@media (max-width: $md3+px) {
			display: none;
		}
	}

	&__img {
		width: 100%;
		height: 100%;

		object-fit: cover;
		&--mobile {
			display: none;
		}
		@media (max-width: $md3+px) {
			&--mobile {
				display: block;

				width: 50%;
				height: 50%;

				margin: 0 auto;
				margin-top: 30px;
				border-radius: 10px;
				@include maxwidth(500) {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
