.mistakes {
	padding-top: 150px;
	padding-bottom: 150px;
	@media (max-width: $md2+px) {
		padding-top: 75px;
		padding-bottom: 75px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__heading {
		max-width: 1173px;

		margin: 0 auto;
		margin-bottom: 109px;
		@media (max-width: $md3+px) {
			margin-bottom: 30px;
		}
	}

	&__list {
		counter-reset: mistakes-list;
		@media (max-width: $md2+px) {
			max-width: 600px;
		}
	}

	&__item {
		position: relative;

		&:not(:last-child) {
			margin-bottom: 21px;
			@media (max-width: $md2+px) {
				margin-bottom: 60px;
			}
		}
	}
}

.mistakes-item {
	position: relative;

	display: flex;
	@media (max-width: $md1+px) {
		justify-content: center;
	}
	&:first-child {
		.mistakes-item__image {
			@media (max-width: $md2+px) {
				transform: translate(50%, -50%) scale(1.5);
			}
		}
	}
	&:nth-child(even) {
		.mistakes-item__image {
			@media (max-width: $md2+px) {
				right: 0;
			}
		}
	}
	&:nth-child(odd) {
		.mistakes-item__image {
			@media (max-width: $md2+px) {
				left: 0;
			}
		}
	}
	&__image {
		position: relative;

		flex: 0 0 32%;
		@media (max-width: $md2+px) {
			position: absolute;
			top: 0;

			width: 100px;
			height: 100px;

			transform: translateY(-50%);
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;

		object-fit: contain;

		width: 100%;
		height: 100%;
		&--spam {
			width: 500px;
			height: 200px;
			transform: translateY(5%);
		}
		&--funnel {
			width: 300px;
			height: 300px;
			transform: translate(25%, -9%);
		}
		&--gift {
			transform: translate(-9%, 5%);
		}
		&--mobile {
			width: 400px;
			height: 400px;

			transform: translate(8%, -12%);
		}
		@media (max-width: $md1+px) {
			&--spam {
				width: 400px;
				height: 200px;
				transform: translateY(5%);
			}
			&--funnel {
				width: 200px;
				height: 300px;
				transform: translate(41%, -9%);
			}
			&--gift {
				width: 250px;
				transform: translate(3%, 5%);
			}
			&--mobile {
				width: 300px;
				height: 400px;
				transform: translate(13%, -12%);
			}
		}
		@media (max-width: $md2+px) {
			display: flex;
			align-items: center;
			justify-content: center;

			width: 100%;
			height: 100%;

			transform: translate(0, 0);
		}
	}
	&__info {
		position: relative;

		flex: 0 0 53%;

		padding: 48px 60px;
		@media (max-width: $md2+px) {
			padding: 35px 15px;
		}
		&::before {
			content: counter(mistakes-list);
			counter-increment: mistakes-list;

			position: absolute;
			top: 0;
			left: 0;

			display: flex;
			align-items: center;
			justify-content: center;

			width: 60px;
			height: 60px;

			border-radius: 50%;
			background: linear-gradient(180deg, #608cff 0%, rgba(0, 71, 255, 0) 100%), #0047ff;
			box-shadow: 0px 0px 30px rgba(0, 71, 255, 0.3);
			color: #ffffff;

			font-family: $ff2;
			font-style: normal;
			font-weight: 700;

			font-size: $fz-text;
			line-height: $lh-text;
			text-transform: uppercase;

			transform: translate(-43%, 58%);
			@media (max-width: $md2+px) {
				left: 50%;
				transform: translate(-50%, -50%);
			}
			@media (max-width: $md3+px) {
				width: 45px;
				height: 45px;
			}
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;

			width: 100%;
			height: 100%;

			background: rgba(255, 255, 255, 0.9);
			filter: blur(2px);
			border-radius: 10px;
		}
		@media (max-width: $md1+px) {
			flex: 0 0 65%;
		}
		@media (max-width: $md2+px) {
			flex: 0 0 100%;
		}
	}
	&__heading {
		margin-bottom: 15px;

		font-family: $ff2;
		font-weight: 700;

		font-size: $fz-text;
		line-height: $lh-text;
		text-transform: uppercase;

		@media (max-width: $md3+px) {
			font-size: 15px;
			line-height: 18px;
			text-align: center;
		}
	}

	&__text {
		color: #5e5e5e;

		font-size: $fz-text;
		line-height: $lh-text;
		font-weight: 400;

		@media (max-width: $md3+px) {
			font-size: 15px;
			line-height: 20px;
			text-align: center;
		}
	}
}
