.telegram {
	padding-top: 75px;
	padding-bottom: 75px;
	@media (max-width: $md2+px) {
		padding-top: 35px;
		padding-bottom: 35px;
	}
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;

		width: 100%;
		height: 100%;

		background-color: rgba(255, 255, 255, 0.5);
		filter: blur(10px);
	}
	&__container {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__heading {
		max-width: 1174px;
		margin-bottom: 60px;
		@media (max-width: $md3+px) {
			margin-bottom: 50px;
		}
	}

	&__wrapper {
		position: relative;

		padding: 14px 18px;

		border: 1px solid #8b8b8b;
		border-radius: 15px;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			right: 0;

			width: 100px;
			height: 252px;

			background: url(../img/telegram-icon.svg) center/contain no-repeat;
			transform: translate(198%, -47%);
			@media (max-width: $md1+px) {
				transform: translate(130%, -42%) rotate(20deg);
			}
			@media (max-width: $md3+px) {
				display: none;
			}
		}
		@media (max-width: $md3+px) {
			width: 100%;
			padding: 6px;
		}
	}

	&__body {
		position: relative;
		padding: 15px 30px;

		display: flex;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.6);
		border-radius: 15px;

		@media (max-width: $md2+px) {
			padding: 25px 45px;
		}
		@media (max-width: $md3+px) {
			padding: 30px 15px;
		}
		@include maxwidth(350) {
			padding: 30px 10px;
		}
	}

	&__link {
		display: inline-block;

		flex: 0 0 150px;

		width: 150px;
		height: 150px;

		background: url(../img/chanel-icon-tg.png) center/contain no-repeat;
		@media (max-width: $md2+px) {
			flex: 0 0 100px;
			width: 100px;
			height: 100px;
			margin-right: 25px;
		}
		@media (max-width: $md3+px) {
			position: absolute;
			top: 0;
			right: 0;

			width: 110px;
			height: 110px;

			transform: translate(0, 20%);
		}
		@include maxwidth(400) {
			width: 70px;
			height: 70px;
			transform: translate(0, 30%);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		color: #000000;

		font-family: $ff2;
		font-style: italic;
		font-weight: 400;
		font-size: 20px;
		line-height: 30px;

		&::before {
			content: "";

			display: block;
			flex: 0 0 8px;
			width: 8px;
			height: 8px;
			margin-right: 25px;

			border-radius: 50%;
			background-color: #000;
			@media (max-width: $md3+px) {
				flex: 0 0 3px;
				width: 3px;
				height: 3px;
				margin-right: 9px;
			}
		}

		&:nth-child(1) {
			margin: 0px 0px 0px 7px;
		}
		&:nth-child(2) {
			margin: 0px 0px 0px 35px;
		}
		&:nth-child(3) {
			margin: 0px 0px 0px 35px;
		}
		&:nth-child(4) {
			margin: 0px 0px 0px 7px;
		}
		&:not(:last-child) {
			margin-bottom: 15px;
		}

		@media (max-width: $md3+px) {
			font-size: 16px;
			line-height: 24px;
		}
		@media (max-width: $md3+px) {
			&:nth-child(1) {
				margin-left: 0px;
			}
			&:nth-child(2) {
				margin-left: 0px;
			}
			&:nth-child(3) {
				margin-left: 0px;
			}
			&:nth-child(4) {
				margin-left: 0px;
			}
		}
	}
}
